[submodule "base"]
	path = base
	url = rp@ridiculouspower.com:ruby/cascading-configuration/base
[submodule "setting"]
	path = setting
	url = git@github.com:Asher-/cascading-configuration-setting.git
[submodule "settings-hash"]
	path = settings-hash
	url = git@github.com:Asher-/cascading-configuration-hash.git
[submodule "settings-array"]
	path = settings-array
	url = git@github.com:Asher-/cascading-configuration-array.git
[submodule "variable"]
	path = variable
	url = git@github.com:Asher-/cascading-configuration-variable.git
[submodule "settings-array-unique"]
	path = settings-array-unique
	url = ./settings-array-unique/
[submodule "settings-array-sorted-unique"]
	path = settings-array-sorted-unique
	url = ./settings-array-sorted-unique
[submodule "settings-array-sorted"]
	path = settings-array-sorted
	url = ./settings-array-sorted
[submodule "ancestors"]
	path = ancestors
	url = ./ancestors/
[submodule "methods"]
	path = methods
	url = ./methods
[submodule "inheritance"]
	path = inheritance
	url = ./inheritance/
[submodule "cascading-configuration-ancestors"]
	path = cascading-configuration-ancestors
	url = git@github.com:Asher-/cascading-configuration-ancestors.git
[submodule "cascading-configuration-methods"]
	path = cascading-configuration-methods
	url = git@github.com:Asher-/cascading-configuration-methods.git
[submodule "cascading-configuration-inheritance"]
	path = cascading-configuration-inheritance
	url = git@github.com:Asher-/cascading-configuration-inheritance.git
[submodule "cascading-configuration-sorted-array"]
	path = cascading-configuration-sorted-array
	url = git@github.com:Asher-/cascading-configuration-sorted-array.git
[submodule "cascading-configuration-unique-array"]
	path = cascading-configuration-unique-array
	url = git@github.com:Asher-/cascading-configuration-unique-array.git
[submodule "cascading-configuration-sorted-unique-array"]
	path = cascading-configuration-sorted-unique-array
	url = git@github.com:Asher-/cascading-configuration-sorted-unique-array.git
